<div class="recipe recipe-list-item">
    <div class="recipe-cover">
        <img src="https://imgs.search.brave.com/AJsDycP86jSTkqgdzmMHUSnaTJen65nS92-EXFMkAa4/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzLmNvbS9p/bWFnZXMvZmVhdHVy/ZWQvaW1hZ2Vucy1k/ZS1waXp6YS02dTV4/aDF6MnBvdHhrMmk0/LmpwZw" alt="Temporário">
    </div>
    <div class="recipe-title-container">
        <h2 class="recipe-title">Lorem ipsum dolor sit amet.</h2>
    </div>

    <div class="recipe-author">
        <span class="recipe-author-item">
            <i class="fas fa-user"></i>
            Otávio Miranda
        </span>
        <span class="recipe-author-item">
            <i class="fas fa-calendar-alt"></i>
            16/10/2021 às 11:21
        </span>
        <span class="recipe-author-item">
            <a href="/recipes/category/cafe-da-manha/">
                <i class="fas fa-layer-group"></i>
                <span>Café da manhã</span>
            </a>
        </span>
    </div>

    <div class="recipe-content">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni fugiat commodi ullam quas modi.
            Ea cumque labore veniam, sequi corrupti quas beatae fuga alias quae, vero dicta accusamus
            aliquam in!</p>
    </div>

    <div class="recipe-meta-container">
        <div class="recipe-meta recipe-preparation">
            <h3 class="recipe-meta-title"><i class="fas fa-stopwatch"></i> Preparo</h3>
            <div class="recipe-meta-text">
                0 Minutos
            </div>
        </div>
        <div class="recipe-meta recipe-servings">
            <h3 class="recipe-meta-title"><i class="fas fa-pizza-slice"></i> Porções</h3>
            <div class="recipe-meta-text">
                0 Porções
            </div>
        </div>
    </div>

    <footer class="recipe-footer">
        <a class="recipe-read-more button button-dark button-full-width" href="/recipes/3/">
            <i class="fas fa-eye"></i>
            <span>ver mais...</span>
        </a>
    </footer>

</div>